<polymer-element name="ceci-channel-map" attributes="broadcastchannels listenerchannels channels">
  <template>
    <content></content>
  </template>
  <script>
    Polymer('ceci-channel-map', {
      channelNames: ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p"],
      ready : function(){
        this.app = document.querySelector("ceci-app");
        this.broadcastchannels = this.broadcastchannels || [];
        this.listenerchannels = this.listenerchannels || [];
        var that = this;
        this.onChannelUpdate = function() {
          that.getChannels();
        };
        window.addEventListener('channelUpdate', this.onChannelUpdate);
      },
      detached: function() {
        window.removeEventListener('channelUpdate', this.onChannelUpdate);
      },

      getFreeChannel : function(type){
        this.getChannels();
        console.log(this.map);
        var useChannel, matches, doesntmatch;

        if(type == "listener") {
          matches = this.broadcastchannels;
          doesntmatch = this.listenerchannels;
        } else {
          matches = this.listenerchannels;
          doesntmatch = this.broadcastchannels;
        }

        //Return first unused broadcast channel...
        for(var i = 0; i < this.channelNames.length; i++){
          var channelName = this.channelNames[i];
          if(matches.indexOf(channelName) > -1) {
            if(doesntmatch.indexOf(channelName) < 0) {
              return channelName;
            }
          }
        }

        // ...or fist unused listener channel
        for(var i = 0; i < this.channelNames.length; i++){
          var channelName = this.channelNames[i];
          if(doesntmatch.indexOf(channelName) < 0) {
            useChannel = channelName;
            break;
          }
        }

        return useChannel || "a";

      },
      get freeListenerChannel() {
        return this.getFreeChannel("listener");
      },
      get freeBroadcastChannel() {
        return this.getFreeChannel("broadcast");
      },
      getChannels : function(){
        this.map = {};

        var app = document.querySelector("ceci-app");
        var els = app.querySelectorAll("ceci-listen,ceci-broadcast");

        for(var i = 0; i < els.length; i++) {
          var el = els[i];
          var channel = el.on;
          var type = el.hasAttribute("for") ? "listener" : "broadcast";
          var method = el.getAttribute("for") || el.getAttribute("from");

          if(!this.map[channel]) {
            this.map[channel] = {};
          }

          if(!this.map[channel][type]){
            this.map[channel][type] = [];
          }

          this.map[channel][type].push(method);
        }

        this.showChannels();
      },
      showChannels : function(){
        var channelStatus;
        var broadcastChannels = [];
        var listenerChannels = [];
        var that = this;

        Object.keys(this.map).forEach(function(key){
          var channel = that.map[key];
          if(channel.broadcast) {
            broadcastChannels.push(key);
          }
          if(channel.listener) {
            listenerChannels.push(key);
          }
        });

        this.broadcastchannels = broadcastChannels;
        this.listenerchannels = listenerChannels;
      },
      attached : function(){
        this.app = document.querySelector("ceci-app");
      }
    });
  </script>
</polymer-element>
