<polymer-element
  name="designer-component-tray-item"
  attributes="name description label author updatedat thumbnail">
  <script>
    Polymer('designer-component-tray-item', {
      popup : "hidden",
      ready: function(){
        var that = this;
        window.addEventListener("designerClick", function(){
          that.hidePopup();
        });
      },
      hidePopup :function(){
        this.shadowRoot.querySelector(".more-info").style.display = "none";
        document.querySelector("body").removeChild(document.querySelector(".more-info"));
      },
      adjustPopup : function(popup){
        var height = popup.offsetHeight;
        var left = document.querySelector(".tray").offsetWidth;
        var offset = document.querySelector("#components-wrapper").scrollTop;
        var pos = this.offsetTop;
        popup.style.top = pos + 54 - (height/2) + "px";
        popup.style.left = left + 16 + "px";
      },
      showPopup :function(){
        var popup = this.shadowRoot.querySelector(".more-info").cloneNode(true);
        document.querySelector("body").appendChild(popup);
        popup.style.display = "block";
        var img = popup.querySelector("img");
        var that = this;
        img.addEventListener('load', function() {
          that.adjustPopup(popup);
        }, false);
        this.adjustPopup(popup);
      }
    });
  </script>
  <template>
    <link rel="stylesheet" href="/stylesheets/designer-component-tray-item.css">
    <div class="add-component component-card" name="{{name}}" show="true" >
      <div class="more-info">
        <div class="image-wrapper"><img on-error="{{imageError}}" src="{{thumbnail}}"></div>
        <p class="description">{{description}}</p>
        <div class="arrow-wrapper"></div>
      </div>
      <div class="component-description">
        <h1>
          {{label}}
          <div id="show-info" on-mouseenter="{{showPopup}}" on-mouseout="{{hidePopup}}">?</div>
        </h1>
      </div>
      <a class="show-more" href="#">More Info</a>
    </div>
  </template>
</polymer-element>
